<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Empty layout -->
<!-- ----------------------------------------------------------------------------------------------------- -->
<empty-layout *ngIf="layout === 'empty'"></empty-layout>

<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Vertical layout -->
<!-- ----------------------------------------------------------------------------------------------------- -->
<app-vertical-nav *ngIf="layout === 'vertical'"></app-vertical-nav>

